/************************************************

                    Juego de cartas
                Creado por Marco Valente

*************************************************/

/*BY DEFAULT*/
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*BY DEFAULT*/


/******************************************PANTALLA DE REGLAS*****************************************/
.bodyRules{
    background-image: url(../img/papyrus.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.rulesBlock{
    width:100%;
    height:100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;

}

.rulesBlock p{
    font-family: 'Squada One', cursive;
    text-align: justify;
    padding: 3%;
    font-size: 1.6rem;
    font-weight: bold;
}
.rulesBlock .submitButton input {
    color: white;
    background-color: black;
}
/******************************************PANTALLA DE REGLAS*****************************************/



/******************************************PANTALLA DE APOSTAR*****************************************/

.bodyBet{
    background-image: url(../img/betBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.betBlock{
    width:100%;
    height:100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.betTitle{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
    font-weight: bold;
    font-family: 'Graduate', cursive;
    text-shadow: 0 0 7px black;
    color: whitesmoke;
}

.betMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60%;
}

.betMenu span{
    font-size: 2rem;
    font-family: 'Knewave', cursive;
    color: azure;
    text-shadow: 0 0 10px black;
    text-align: center;
}
/*BetForm*/
.betForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    width: 100%;
}
.betInputBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.betImg{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    background-color: white;
}

.betImg img{
    height: 70%;
    background-color: white;
    padding-top: 5%;
    border-radius: 20px 20px 0 0;
}

.betImg p{
    text-align: center;
    height: 15%;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
}

.betP1{
    justify-content: center;
    font-size: 2rem;
}

.betP2{
    font-size: 1.5rem;
    justify-content: start;
    border-radius: 0 0 20px 20px;
}
.betForm div:nth-child(2){
    display: flex;
    flex-direction: column;
}
.betForm .item-input{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
    align-items: center;
}

.betForm .item-input{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.betForm input{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 3rem;
    width: 30%;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.6rem;
    font-family: 'Knewave', cursive;
}

.rulesButton{
    display: flex;
    flex-direction: row;
}
.rulesButton form input{
    height: fit-content;
    align-self: flex-end;
}

/*betform*/

.betBlock .submitButton input{
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    font-family: 'Knewave', cursive;
    background-color: darkred;
    font-size: 3rem;
    border-radius: 20px;
    text-shadow: 0 0 7px white;
    width: 30vh;
    justify-content: center;
    height: 100%;
}
/******************************************PANTALLA DE APOSTAR*****************************************/



/******************************************PANTALLA DE ADIVINAR*****************************************/

.bodyGuess{
    background-image: url(../img/guessBrackground2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#guessBlock{
    width:100%;
    height:100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.statsHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.life span{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Knewave', cursive;
    color: azure;
    text-shadow: 0 0 10px black;
}
.life{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.life img{
    height: 60px;
}
.money{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.money img{
    height: 60px;
}

.money span{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Knewave', cursive;
    color: azure;
    text-shadow: 0 0 10px black;
}

.title{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Henny Penny', cursive;
    text-shadow: 0 0 7px whitesmoke;
}

#guessMenu{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    height: 60%;
}

#guessOptions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    padding-left: 20px;
    align-self: flex-start;
}

#guessOptions form{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#guessOptions .item-input{
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
#guessOptions .item-input label{
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Skranji', cursive;
    font-size: 5vh;
    color: white;
    text-shadow: 0 0 10px black;
    padding-right: 17px;
}

#guessOptions .item-input select{
    color: black;
    text-align: center;
    font-family: 'Knewave', cursive;
    background-color: limegreen;
    font-size: 1.5rem;
    border-radius: 15px;
}
*:disabled{
background-color: darkgrey;
}


#guessImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-right: 20px;
}

#guessImg img{
    height: 100%;
    width: 100%;
}

#guessImg span{
    font-size: 1.5rem;
    font-family: 'Knewave', cursive;
    color: azure;
    text-shadow: 0 0 10px black;
    text-align: center;
    height: 20%;
}

.submitButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.submitButton input{
    display: flex;
    flex-direction: row;
    color: black;
    text-align: center;
    font-family: 'Knewave', cursive;
    background-color: limegreen;
    font-size: 3rem;
    border-radius: 50px;
    justify-content: center;
    height: 100%;
    padding: 10px;
}
/******************************************PANTALLA DE ADIVINAR*****************************************/


/******************************************PANTALLA DE PARTIDA*****************************************/

.bodyGame{
    background-image: url(../img/gameBackground2.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.cartas{
    padding:50px;
    display:flex;
    justify-content:space-evenly;
}

.gameBlock{
    width:100%;
    height:100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gameTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    font-weight: bold;
    text-shadow: 0 0 7px black;
    color: white;
    font-family: 'Tilt Warp', cursive;
    text-align: center;
}

.gameSubtitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
    font-weight: bold;
    text-shadow: 0 0 7px black;
    color: white;
    font-family: 'Tilt Warp', cursive;
}
.carta{
    padding:10px;
}
.gameBlock .submitButton input{
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    font-family: 'Knewave', cursive;
    background-color: darkred;
    font-size: 3rem;
    border-radius: 50px;
    justify-content: center;
    height: 100%;
    padding: 10px;
    text-shadow: 0 0 5px whitesmoke;
}
/******************************************PANTALLA DE PARTIDA*****************************************/
/******************************************PANTALLA FINAL*****************************************/
.finalBlock{
    width:100%;
    height:100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.finalBlock .gameTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 0 0 7px black;
    color: white;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

.finalBlock .gameTitle2 .gameTitle{
    font-size: 4rem;
}
.finalImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 47%;
}

.finalImg img{
    height: 100%;
}

.finalBlock .submitButton input{
    background-color: goldenrod;
    font-size: 3rem;
    width: 45vh;
    color: white;
    text-shadow: 0 0 5px white;
}

/******************************************PANTALLA FINAL*****************************************/


/******************************************PANTALLA MEDIA QUERIES*****************************************/

@media only screen and (width>=300px)and (width<=500px){

/*Rules*/

.rulesBlock p{
   font-size: 0.5rem;
}

    /*Betting*/
.betTitle{
    font-size: 2rem;
}

.life img,.money img {
    height: 20px;
}
.life span,.money span {
font-size: 15px;
}
    .betMenu{
        height: 50%;
    }
    .betMenu span {
        font-size: 1rem;
    }

    .betImg img {
        height: 70%;
        width: 100%;
    }

    .betImg p {
        width: 100%;
        height: 15%;
    }

    .betP1 {
    font-size: 0.8rem;
    }
    .betP2 {
        font-size: 0.5rem;
    }

    .betForm input {
        height: 2rem;
        width: 40%;
        font-size: 0.8rem;
    }

    .betBlock .submitButton input{
        font-size: 0.8rem;
        width: 30vh;
    }

    /*Guessing*/

    .title{
        font-size: 1.2rem;
    }

    #guessImg span {
        font-size: 0.5rem;
    }

    #guessOptions .item-input select {
        font-size: 1rem;
    }

    #guessOptions .item-input label {
        font-size: 1rem;
    }

    .submitButton input {   
        font-size: 1rem;
        padding: 5px;
    }
    #guessOptions {
        justify-content: flex-start;
    }

    /*Final Screen*/

    .finalBlock .gameTitle {
        font-size: 0.8rem;
    }

    .finalBlock .gameTitle2 .gameTitle {
        font-size: 0.8rem;
    }

    .finalBlock .submitButton input {
        font-size: 1rem;
    }
    /*Final Screen*/
}

@media only screen and (width>=500px)and (width<=959px){

    /*rules*/
    .rulesBlock p{
    padding: 5%;
    font-size: 0.85rem;  
    }

    /*Betting*/
    .betTitle{
        font-size: 3rem;
    }
    
    .life img,.money img {
        height: 30px;
    }
    .life span,.money span {
        font-size: 25px;
    }
    
        .betMenu span {
            font-size: 1.5rem;
        }
    
        .betForm input {
            height: 3rem;
            font-size: 1rem;
            width: 40%;
        }
    
        .betImg img {
            height: 70%;
            width: 100%;    
        }
    
        .betImg p {
            width: 100%;
            height: 15%;
        }
    
        .betP1 {
        font-size: 1.5rem;
        }
        .betP2 {
            font-size: 1rem;
        }
    

        .betBlock .submitButton input{
            font-size: 1rem;
        }

        /*Guessing*/

        .title{
            font-size: 1.5rem;
        }

        #guessOptions .item-input label{
            font-size: 6vh;
        }
        #guessOptions .item-input select {
            font-size: 1.2rem;
        }

        #guessImg img{
            height: 90%;
        }
        #guessImg span {
            font-size: 0.9rem;
        }

        .submitButton input {
            font-size: 2.5rem;
        }

        /*Final Screen*/
        .finalBlock .gameTitle {
            font-size: 2rem;
        }
    
        .finalBlock .gameTitle2 .gameTitle {
            font-size: 2rem;
        }

        .finalBlock .submitButton input {
            font-size: 2rem;
        }
        /*Final Screen*/
}

/******************************************PANTALLA MEDIA QUERIES*****************************************/
